# Node dependencies
node_modules/
.env*
# Local environment variables

.env.production
.env.development
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS / IDE junk
.DS_Store
.vscode/
